<section class="d-flex py-2 align-itmes-center justify-content-center">
    <div class="container-sm">
        <div class="row justify-content-start">
            <div class="col align-itmes-center">
                <h2 class="big-title"><strong>About Me</strong></h2>
                <h4 class="sub-title">Front-End Developer</h4>
                <h6 class="text-center">Greetings! 👋 I'm Aditya Mishra, a seasoned Front-End Developer with a passion
                    for crafting. </h6>
                <div class="list-info">
                    <ul>
                        <li>i know how we can build a lot of websites,front-end with angular</li>
                        <li>i know how we can build a lot of websites,front-end with react-js</li>
                        <li>i know how we can build a lot of websites,front-end with html and css</li>
                        <li>i know how we can build a lot of websites,back-end with node-js </li>
                        <li>i know how we can build a lot of websites, back-end with java spring maven </li>
                        <li>i know how we can build a lot of websites, back-end with djungo </li>
                        <li>i know how we can build a lot of websites </li>
                        <li>i know how we can build a lot of websites </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>