<section class="section">
  <div class="box container ">
    <div class="d-flex justify-content-center align-items-center">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div class="collapse navbar-nav" id="navbarNav">
            <ul class="navbar-nav m-1 ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">WORK</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">CONTACT ME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link-btn btn" href="#" (click)="downloadCV()">DOWNLOAD CV</a>
              </li>
            </ul>
          </div>
          <div class="d-flex">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
