.button {
  background: #e1e0de;
  border-radius: 15px;
  color: #026573;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav-link {
  color: #026573;
  text-align: center;
  font-family: Aclonica, ui-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-link-btn {
  background: #e1e0de;
  border-radius: 15px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background 0.3s ease;
  color: #FFF;
  font-family: Aoboshi One, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:hover {
    background: #f37f12;
  }
}
@media screen and (max-width: 1000px) {
  .navbar-toggler {
    display: block;
  }
  .navbar-toggler.collapsed+#navbarNav {
    display: block;
  }
  
}


@media screen and (min-width: 1400px) {

  .navbar-nav {
    display: flex;
  } 
.div1{
  max-width:1140px;
}
  .navbar-toggler {
    display: none;
  }
}
