<section class="section">
  <div class="box div1">
    <div class="d-flex justify-content-center align-items-center">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation" (click)="toggleMenu()">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
            <ul class="navbar-nav m-1 m-auto">
              <li class="nav-item">
                <a class="nav-link" style="margin-right: 10px;" href="home"><strong>HOME</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="margin-right: 10px;" href="about"><strong>ABOUT</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="margin-right: 10px;" href="work"><strong>WORK</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="margin-right: 100px;" href="contact"><strong>CONTACT ME</strong></a>
              </li>
              <li class="nav-item">
               <button class="nav-item btn download" style="background: #000000;color: white;" (click)="downloadCV()">DOWNLOAD CV</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
