<section class="section container d-flex align-itmes-center justify-content-center">
    <div class="row justify-content-center py-2">
        <div class="col-12">
            <h1 class="big-title"><strong>Projects</strong></h1>
            <h4 class="sub-title">Here are some of my projects</h4>
            <div class="card-group">
                <div class="card">
                  <img src="../../assets/programming-skills.jpg" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Project-1</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
                <div class="card">
                  <img src="../../assets/programming-skills.jpg" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Project-2</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  </div>
                </div>
              </div>
              <div class="card-group">
                <div class="card">
                  <img src="../../assets/programming-skills.jpg" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Project-3</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
                <div class="card">
                  <img src="../../assets/programming-skills.jpg" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Project-4</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  </div>
                </div>
              </div>
        </div>
    </div>

</section>