<div class="container">
  <!-- Top part -->
  <div class="d-flex p-1 w-100 align-items-center justify-content-center">
    <div class="row">
      <div class="brand d-flex py-1 w-100 align-items-center justify-content-center">
        <img src="../../assets/programming-skills.jpg" class="main-image">
        <span class="profile-circle">
          <img src="../../assets/small-profile-picture.jpg" class="profile-image">
        </span>
      </div>
    </div>
  </div>

  <!-- center part -->
  <div class="row justify-content-center">
    <!-- Left Part -->
    <div class="col-4 py-3 d-flex align-items-center justify-content-center ">
      <div class="titre row d-flex">
        <h1 class="title-job"><strong>Full-Stack</strong></h1>
        <h2 class="text-center"><strong>Developer</strong></h2>
        <p class="text py-3">Hi, I am Ahmad Nasser, a passionate full-stack developer based in Tripoli, Lebanon.</p>
      </div>
    </div>

    <!-- Right Part -->
    <div class="skills col-4 py-3 d-flex flex-column align-items-center justify-content-center">
      <h2 class="skills-title"><strong>What I Know</strong></h2>
      <div class="skill-icon-container align-items-center justify-content-center">
        <i class="fab fa-js fa-3x"></i>
        <i class="fab fa-python fa-3x"></i>
        <i class="fab fa-java fa-3x"></i>
        <i class="fab fa-linux fa-3x"></i>
        <i class="fab fa-html5 fa-3x"></i>
        <i class="fab fa-css3-alt fa-3x"></i>
      </div>
      <div class="skill-icon-container">
        <i class="fab fa-angular fa-3x"></i>
        <i class="fab fa-react fa-3x"></i>
        <i class="fab fa-bootstrap fa-3x"></i>
        <i class="fab fa-mdb fa-3x"></i>
        <i class="fab fa-node fa-3x"></i>
        <i class="fa-solid fa-database fa-3x"></i>
      </div>
    </div>
  </div>
  <!-- bottom part -->
  <div class="row justify-content-center">
    <div class="social col-4 py-2 d-flex flex-row">
      <h3 class="social-text"><strong>Lets Connect:</strong></h3>
      <div class="social-icon-container">
        <i class="fab fa-github"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-whatsapp"></i>
      </div>
    </div>
  </div>
</div>